
<div class="row">
  <div class="col-md-8 col-md-offset-2"><h1>{{ movie?.Title }}</h1></div>
  <div class="col-md-2 col-md-offset-1">
    <img src="{{movie?.Poster === 'N/A' ? 'http://ia.media-imdb.com/images/M/MV5BMjAzNDEwMzk3OV5BMl5BanBnXkFtZTcwOTk4OTM5Ng@@._V1_SX300.jpg': movie?.Poster }}" class="img-responsive" alt="Poster">
  </div>
  <div class="col-md-8">
      <div><h4>Year: {{movie?.Year}}</h4></div>
      <div><h4>Rated: {{movie?.Rated}}</h4></div>
      <div><h4>Released: {{movie?.Released}}</h4></div>
      <div><h4>Runtime: {{movie?.Runtime}}</h4></div>
      <div><h4>Genre: {{movie?.Genre}}</h4></div>
      <div><h4>Director: {{movie?.Director}}</h4></div>
      <div><h4>Writer: {{movie?.Writer}}</h4></div>
      <div><h4>Actors: {{movie?.Actors}}</h4></div>
      <div><h4>Plot: {{movie?.Plot}}</h4></div>
      <div><h4>Awards: {{movie?.Awards}}</h4></div>
      <div><h4>Rating: {{movie?.imdbRating}}</h4></div>
      <div><h4>Type: {{movie?.Type}}</h4></div>
  </div>
</div>